@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  overflow: hidden;
  /* /background-color: rgb(129,18,100); */
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /*border-radius: 20px;*/
}

li a:hover,
.dropdown:hover.dropbtn {
  border: 1px solid #F9D342;
  /*border-radius: 20px;*/
  color: white;
  font-size: larger;
  /* background-color: rgb(133, 41, 109); */
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* border 
  border-radius: 20px;*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #292826;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-container button {
  float: inline-end;
  
  padding-top: 10px;
  margin-top: 32px;
  background: #ddd;
  font-size: 15px;
  border:hsl(48, 94%, 62%);
  cursor: pointer;
}
.img1{
  width: 300px;
  height: 400px;
  padding: 20px;
}
.box {
  width: 80%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

@import 'https://fonts.googleapis.com/css?family=Raleway';
* {box-sizing: border-box;}
body {font-family:raleway;}
.mySlides {display: none;}
img {vertical-align: middle;}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
/* Slideshow container */
.slideshow-container {
  max-width: fit-content;
  max-height: fit-content;
  position: center;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 200px) {
  .text {font-size: 11px}
}
.img{
    width: 1200px;
    height: 300px;
}
.container
{
  font-family: "Poppins" , sans-serif;
    margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

.container a
{
    color: #f50000;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
/* Pull right and left  */
.pullRightLeft a:before, .pullRightLeft a:after
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #000000;
    opacity: 0.3;
    transition: all 0.3s;
}

.pullRightLeft a:before
{
    left: 0px;
} 

.pullRightLeft a:after
{
    right: 0px;
}

.pullRightLeft a:hover:before, .pullRightLeft a:hover:after
{
    width: 100%;
}
body {
  background-color: #F9D342;
}

.wallet-container {
  margin: auto;
  background: linear-gradient(#292826, #292826),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjOvSperRYjHH9-EHlKZJBfwvXy4rJpyerzHQsnp8DuuycYU5_);
  width: 500px;
  color: #fff;
  /* height: 600px; */
  font-size: 15px;
  padding: 20px 20px 0;
  top: 50%;
  left: 50%;
  
  
  
}

.page-title {
  text-align: left;
}

.fa-user {
  float: right;
}

.fa-align-left {
  margin-right: 15px;
}

.amount-box img {
  width: 50px;
}

.amount {
  font-size: 35px;
}

.amount-box p {
  margin-top: 10px;
  margin-bottom: -10px;
}

.btn-group {
  margin: 20px 0;
}

.btn-group .btn {
  margin: 8px;
  border-radius: 20px !important;
  font-size: 18px;
}

.txn-history {
  text-align: left;
}

.txn-list {
  background-color: #fff;
  padding: 12px 10px;
  color: #777;
  font-size: 14px;
  margin: 7px 0;
}

.debit-amount {
  color: red;
  float: right;
}

.credit-amount {
  color: green;
  float: right;
}

.footer-menu {
  margin: 20px 0px 5px;
  bottom: 0;
  border-top: 1px solid #ccc;
  padding: 10px 10px 0;
  width: 100%;
  /* position: fixed; */
  z-index: 100000000px;
}

.footer-menu p {
  font-size: 12px;
}
/* 
@media screen and (max-width: 800px) {
  .wallet-container {
    height: 115%;
    bottom: 20px;
    margin-top: 0px;
  }
} */

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.container .item {
  /* border: solid; */
  width: 20%;
  cursor: pointer;
  text-align: center;
}
.container .item .fa {
  font-size: 25px;
}
.menu .container {
  flex-direction: column;
}
.menu .container .item {
  /* flex-direction: column; */
  display: flex;
  flex-grow: 20px;
  /* border: solid; */
  width: 100%;
  padding: 0;
  margin: 10px 0px;
}
.menu .container .item p {
  margin: 0px 0px;
  font-size: 16px;
}
.menu .container .item .fa {
  /* border: solid; */
  margin: 0;
  width: 40px;
}
.menu-footer {
  margin: 10px 20px;
}
.menu-footer a {
  /* margin: 10px 20px; */
  color: #fff;
  text-decoration: none;
}
.menu-footer a i {
  margin: 0px 5px;
  /* color: #fff; */
}

.questions {
  color: black;
  text-align: start;
  font-size: 12px;
}
.question-form {
  align-items: flex-start;
  text-align: start;
  width: 100%;
  flex-direction: column;
}
.question-form input[type='submit'] {
  margin-left: 75%;
  margin-top: 10px;
}
.question-form form span {
  width: 100%;
}
.payment-icons {
  /* border: solid; */
  text-align: center;
}
.payment-icons p {
  /* text-align: start; */
  border-bottom: solid;
  margin: 2px 20px;
}
.payment-icons .fa {
  margin: 2px 5px;
  font-size: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  overflow: hidden;
  /* /background-color: rgb(129,18,100); */
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /*border-radius: 20px;*/
}

li a:hover,
.dropdown:hover.dropbtn {
  border: 1px solid #F9D342;
  /*border-radius: 20px;*/
  color: white;
  font-size: larger;
  /* background-color: rgb(133, 41, 109); */
}
#registration-page {

  height:100%;
  background:#78a7ba; 
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:scroll;
}
/* FORM HEADER */
.form-header {
  padding:15px 0;
  border-bottom:1px solid #F9D342;
}

/* FORM BODY - Gender & Hobbies */
.radio-group, .checkbox-group {
  display:flex;
}

.radio-group div, .checkbox-group div {
  flex:1;
}

.radio-group label, .checkbox-group label  {
  color:#292826;
  cursor:pointer;
}
label {
  color:#F9D342;
  font-size: 17px;
  font-weight: 500;
}

/* FORM FOTTER */
.form-footer {
  display:flex;
  justify-content: flex-end;
  padding:10px;
}
.btn {
  padding:10px 20px;
  background-color: #F9D342;
  font-size:17px;
  border:none;
  border-radius:5px;
  color:#292826;
  cursor:pointer;
}
/* MOBILE VIEW */
@media only screen and (max-width: 500px) {
  .row{
    flex-direction:column; 
  }

  .btn {
      flex:1;
  }
}

/* FORM BODY - Source of Income & Income */
.range-group {
  display:flex;
}

.range-group input {
    flex:1;
}

.range-group label {
  margin-left:10px;
  background-color: #F9D342;
  color:white;
  border-radius: 5px;
  padding:5px;
  font-size:17px;
  text-align:center;
}
/* FORM BODY */
.form-body {
  background:white;
  padding:5px 10px;
}

.row {
  display:flex; 
}

.input-group {
  flex:1;  
  display:flex;
  flex-direction:column; 
  margin:10px 5px;
}
.form-header h1 {
  font-size: 28px;
  text-align:center;
  color:#292826;
}
.signup-form  {
  margin: auto;
    flex:1;
    max-width:600px;
    border-radius: 10px;
    background-color: #F9D342;
    border: 1px solid #292826;
    margin-top: auto;
    margin-bottom:  auto;
  }


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* border 
  border-radius: 20px;*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #292826;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-container button {
  float: inline-end;
  
  padding-top: 10px;
  margin-top: 32px;
  background: #ddd;
  font-size: 15px;
  border:hsl(48, 94%, 62%);
  cursor: pointer;
}
.img1{
  width: 300px;
  height: 400px;
  padding: 20px;
}
.box {
  width: 80%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
 /* border-radius: 20px/50px;*/
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.img1:hover {
  background:#292826;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 2;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: 500px;
  position: center;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: "Poppins" , sans-serif;}
.popup .close {
  position: absolute;
  top: 40px;
  right: 380px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #f5f2f2;
}
.popup .close:hover {
  color:#121211;
}
.popup .content {
  height: 60%;
  /*overflow: auto;*/
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }

}
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0;
  font-family: "Poppins" , sans-serif;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: black;
  color: WHITE;;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #F9D342;
  height: 25px;
  width: 30px;
  margin: 3px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: red;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  
  background:#292826;
  padding: 20px 20px;
  border-radius: 20px;
  color: #777;
  list-style-type: none;
  display: flex;
  text-decoration-color: #000000;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

textarea {
  resize: none;
  height:100px;
}
