* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #09BDD0;
}

#NameOfCompany {
    font-size: x-large;
    color: white;
}

#secondary-nav {
    background: #09BDD0;
    color: white;
}

#primary-nav {
    background: #09BDD0;
    color: white;
}